.totalbg {
    background-color: black;
    width: 100%;
    height: 100%;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
    }
    
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 55px;
    padding-left: 20px;
    margin-right: 20px;
    background-color: #39FF14;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

  .navbar .logo {
    font-size: 1.5rem;
  }
  
  
  .navbaritems{
    display: flex;
    font-size: large;
    padding-right: 50px;
    
}
  
.navbaritems p{
    cursor: pointer;
    transition: transform 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 0px !important;
}
.navbaritems p:hover{
    transform: scale(1.2);
}
  
.home{
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
}
.homematter{
    width: 65%;
    margin: 10px;
    color: #39FF14;
}
.homematter b{
    float: right;
    padding-right: 30px;
    padding-top: 230px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}
.homematter p{
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 30px;
    float: right;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
  
.homepic{
    width: 35%;
    margin: 10px;
    color: #39FF14;
}
.homeimage{
    width: 90%;
    padding-top: 40px;
    height: 480px;
    border-radius: 10px;
}
.homepic img{
    transition: transform 0.3s ease;
}
.homepic img:hover{
    transform: scale(1.1);
}
  
.aboutme{
    padding-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}
hr{
    margin-top: 25px;
    border: 1px #39FF14 solid;
}
.aboutme h1{
    color: #39FF14;
    text-align: center;
    padding-top: 20px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.aboutmatter{
    color: #39FF14;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
.resumedown{
    display: inline-block;
    color: #39FF14;
    text-align: center;
    justify-content: center;
    margin-left: 39%;
    margin-right: 39%;
    font-family:'Times New Roman', Times, serif;
    padding-top: 30px;
    font-weight: 200;
    font-size: 30px;
    transition: transform 0.3s ease;
}
.resumedown:hover{
    transform: scale(1.1);
    text-decoration-line: underline;
    cursor: pointer;
}
.aboutme h4{
    color: #39FF14;
    padding-top: 50px;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
}
.skill{
  color: black !important; 
  border-radius: 5px;
  background: #39FF14;
  font-size: 15px !important;
  padding: 5px;
  margin-left: 10px;
}
.experience{
    padding-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    height: 170px;
}
.experience h3{
    color: #39FF14;
    font-family:'Times New Roman', Times, serif;
    padding-left: 30px;
}
.interns{
    color: #39FF14;
    padding-left: 100px;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    list-style-type: square;
}
.projects {
    height: 420px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 55px !important;
}

.projects h3 {
    color: #39FF14;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-bottom: 20px;
}

.imgcontainer {
    position: relative;
    width: 300px;  
    margin-left: 100px; 
    height: 290px;
    box-shadow: 2px 2px 4px#39FF14;
    border-radius: 10px;    
}
.votingimg {
    width: 100%;  
    height: 200px;
    opacity: 1;
    display: block;
    transition: opacity .5s ease;
}

.middle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s ease;
}
.intern{
    color: #39FF14;
    padding-left: 100px;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    list-style-type: square;
}

.imgcontainer:hover .votingimg {
    opacity: 0.3;
}

.imgcontainer:hover .middle {
    opacity: 1;
}

.probutton {
    background-color: #39FF14;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.probutton a{
    text-decoration: none;
    color: black;
}

.probutton:hover {
    transform: scale(1.1);
}

.imgcontainer p{
    color: #39FF14;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
}
.gallery {
    margin-left: 20px;
    margin-right: 20px;
    color: #39FF14;
    height: auto;
    padding-top: 55px; 
}

.gallery h3 {
    font-family:'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-bottom: 20px;
}


.carousel {
    max-width: 600px;
    max-height: 350px; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 5px 5px 13px #39FF14; 
}

.carousel img {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.contact {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.contact h3 {
    color: #39FF14;
    font-family:'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.phonecall, .email, .location {
    display: flex;
    align-items: center; 
    margin-top: 15px;
    padding-left: 50px;
}

.loca, .phone, .emai {
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 8px #39FF14;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
    border-radius: 3px;
}

.loca:hover, .phone:hover, .emai:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.con, .cont {
    color: #39FF14;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding-left: 10px;
}
.social{
    color: #39FF14;
    margin-top: -150px;
    margin-left: 70px;
}

  @media only screen and (max-width: 768px) {
    .totalbg {
        background-color: black;
        width: 100%;
        height: 100%;
        margin: 0; 
    }

    .navbar {
        font-size: large;
        height: 50px;
        flex-direction: column;
        padding: 0 10px; 
    }

    .navbaritems {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px; 
        left: 0;
        right: 0;
        padding: 20px;
    }

    .navbaritems.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .navbaritems p {
        padding: 10px 0;
        border-bottom: 1px solid #444;
        width: 100%;
        text-align: center;
    }

    .navbaritems p:last-child {
        border-bottom: none;
    }

    .home {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin-top: 0; 
        margin-bottom: 0; 
    }

    .homematter {
        width: 90%;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .homepic {
        width: 80%;
        margin: 0 auto;
    }

    .aboutme .aboutmatter {
        width: 90%;
        margin: 0 auto; 
        text-align: center; 
    }
    .projects{
        margin-top: 140px;
    }
    .projects .imgcontainer {
        width: 90%;
        margin: 0 auto;
    }

    .carousel img {
        height: 300px;
    }

    .homematter b{
        padding-top: 20px;
        margin-top: 30px;
    }
    .homematter p{
        padding-left: 0%;
        align-items: center;
    }
    .contact {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
    
    .contact h3 {
        color: #39FF14;
        font-family:'Times New Roman', Times, serif;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    
    .phonecall, .email, .location {
        align-items: center; 
        margin-top: 15px;
        padding-left: 10px;
    }
    
    .loca, .phone, .emai {
        width: 30px;
        height: 30px;
        box-shadow: 2px 2px 8px #39FF14;
        margin-right: 10px;
        transition: box-shadow 0.3s ease;
        border-radius: 3px;
    }
    
    .loca:hover, .phone:hover, .emai:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    }
    
    .con, .cont {
        color: #39FF14;
        font-family:'Times New Roman', Times, serif;
        margin: 0;
        padding-left: 10px;
    }
    .home{
        margin-top: 20px;
    }
    .social{
        padding-left: 0%;
        color: #39FF14;
        margin-top: 20px;
        margin-left: 20px;
    }
    .intern{
        color: #39FF14;
        padding-left: 0;
        font-family:'Times New Roman', Times, serif;
        font-size: 17px;
        list-style-type: square;
        margin-top: 0px;
    }
    .location{
        display: block;
    }    
    .cont{
        margin-top: -30px;
        margin-left: 40px;
    }
    .aboutme h4{
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .skill{
        font-size: 12px !important;
    }
    .resumedown{
        font-size: 14px;
        margin-left: 36%;
        margin-right: 36%;
    }
    .projects{
        margin-top: 190px;
    }
}
hr {
    display: none;
}


@media only screen and (max-width: 425px) {
    .navbar {
        height: 40px;
    }

    .homeimage {
        height: 300px;
    }
    .home{
        margin-top: 20px;
    }
    .homematter b{
        padding-top: 20px;
        margin-top: 30px;
    }
    .homematter p{
        padding-left: 0%;
        align-items: center;
    }

    .projects .imgcontainer {
        width: 100%;
        margin: 0 auto; 
    }

    .carousel img {
        height: 250px;
    }

    .contact {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
    
    .contact h3 {
        color: #39FF14;
        font-family:'Times New Roman', Times, serif;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    
    .phonecall, .email, .location {
        align-items: center; 
        margin-top: 15px;
        padding-left: 10px;
    }
    
    .loca, .phone, .emai {
        width: 30px;
        height: 30px;
        box-shadow: 2px 2px 8px #39FF14;
        margin-right: 10px;
        transition: box-shadow 0.3s ease;
        border-radius: 3px;
    }
    
    .loca:hover, .phone:hover, .emai:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    }
    
    .con, .cont {
        color: #39FF14;
        font-family:'Times New Roman', Times, serif;
        margin: 0;
        padding-left: 10px;
    }
    .social{
        padding-left: 0%;
        color: #39FF14;
        margin-top: 20px;
        margin-left: 20px;
    }
    .intern{
        color: #39FF14;
        padding-left: 0;
        font-family:'Times New Roman', Times, serif;
        font-size: 17px;
        list-style-type: square;
        margin-top: 0px;
    }
    .location{
        display: block;
    }    
    .cont{
        margin-top: -30px;
        margin-left: 40px;
    }
    .aboutme h4{
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .skill{
        font-size: 12px !important;
    }
    .resumedown{
        font-size: 12px;
        margin-left: 36%;
        margin-right: 36%;
    }
    .projects{
        margin-top: 190px;
    }
}
